<!DOCTYPE HTML>
<html>
 <!----------------Content Mid
					---------------------->	

	<div class="content-mid">
	<div class="middle-content" style="padding-top:0px; margin-top:0px; margin-bottom:0px; margin-left:10px; margin-right:10px;border-style:none; box-shadow:none " >
	
	<!------------Content title------------->   
		<div class="row-fluid" style="height:80px; padding-top:0px">
		  <div class="col-sm-12" style="text-align:center; "><p><h1>Here you invest and get experience</h1></p>
      </div>
    </div>
  <!------------------------->

		<div class="row" style="padding-top:0px;">
		  <div class="col-md-10 col-md-offset-1" style="padding-top:0px;">
		      <br>
		      <p><h2 class="featurette-heading">Total Investment: <span style="color:green">$285</span></h2></p><br>
		      <p><h2 class="featurette-heading">Total Value: <span style="color:green">$295</span></h2></p><br>
		      <p><h2 class="featurette-heading">Total Gain/Loss: <span style="color:green">$10</span></h2></p><br>
		      <p><h2 class="featurette-heading">ROI: <span style="color:green">1.6%</span></h2></p><br>
		  </div>
		</div>
		
		
	<!------------------------->	
	        <div class="col-md-12">
        <div class="row-fluid">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-primary btn-lg">Robots</a>
            <a href="#" class="btn btn-primary btn-lg">My investments</a>
          </div>
        </div>
        <br>
		    
	<!------------Portfolio Listings------------->
		    
    <div class="list-group" style="font-family:'Roboto'; font-size:14px; color:#666666;" >
    
      <a id="etf" href="#" class="list-group-item clearfix list-group-item-action align-items-start"  style="border-radius:0px">
        <div class="row">
          <div class="col-md-3">
          <div style="height:140;border:0px solid #000">
          <img src="/assets/SPDR.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:30px;margin-bottom:10px">
          </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>American Jumbo Companies</h3><small class="text-muted">Underlying Asset: SPDR S&P 500</small>
          </div>
          </div><!----><div class="col-md-2" style="margin-top:20px;text-align:right"><h2 style="color:green">17.5%</h2><br><button type="button" class="btn btn-success btn-lg">Invest</button></div>
        </div>
        <div id="etf_detail" class="row" style="display:none;">
          <div class="col-md-3">
          </div><!----><div class="col-md-7 vcenter"><div style="height:80;border:0px solid #F00"><h4 style="color:green">Details:</h4><br>Imagine all the tech companies in the United States. This portfolio represents little portion of each of them. Apple, Amazon and Google and all of them.
          <br><br><span style="color:grey">
          ----> Here --- how many friends have invested or smth</span></div>
          </div><!----><div class="col-md-2" style="margin-top:20px;text-align:right"></div>
        </div>
      </a>
      
      
      <a href="#" id="etf" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-md-3">
          <div style="height:140;border:0px solid #000">
          <img src="/assets/ishares_logo.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:30px;margin-bottom:10px">
          </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Techno Giants</h3><small class="text-muted">Underlying Asset: iShares U.S. Technology ETF</small>
          </div>
          </div><!----><div class="col-md-2" style="margin-top:20px;text-align:right"><h2 style="color:green">7.84%</h2><br><button type="button" class="btn btn-success btn-lg">Invest</button></div>
        </div>
        
<!--------------------------More details when clicked on a portfolio------>
        <div id="etf_detail" class="row" style="display:none;">
          <div class="col-md-3">
          </div><!----><div class="col-md-7 vcenter"><div style="height:80;border:0px solid #F00"><h4 style="color:green">Details:</h4><br>Imagine all the tech companies in the United States. This portfolio represents little portion of each of them. Apple, Amazon and Google and all of them.
          <br><br><span style="color:grey">
          ----> Here --- how many friends have invested or smth</span></div>
          </div><!----><div class="col-md-2" style="margin-top:20px;text-align:right"></div>
        </div>
      </a>
      
<!-------------------------------->
        
      <a href="#" id="etf" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-md-3">
          <div style="height:140;border:0px solid #000">
          <img src="/assets/SPDR.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
          </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Wall Street Companies</h3><small class="text-muted">Underlying Asset: Financial Select Sector SPDR Fund</small>
          </div>
          </div><!----><div class="col-md-2" style="margin-top:20px;text-align:right"><h2 style="color:green">0.27%</h2><br><button type="button" class="btn btn-success btn-lg">Invest</button></div>
        </div>
      <div id="etf_detail" class="row" style="display:none;">
          <div class="col-md-3">
          </div><!----><div class="col-md-7 vcenter"><div style="height:80;border:0px solid #F00"><h4 style="color:green">Details:</h4><br>Imagine all the tech companies in the United States. This portfolio represents little portion of each of them. Apple, Amazon and Google and all of them.
          <br><br><span style="color:grey">
          ----> Here --- how many friends have invested or smth</span></div>
          </div><!----><div class="col-md-2" style="margin-top:20px;text-align:right"></div>
        </div>
      </a>
      
      <a href="#" id="etf" class="list-group-item clearfix list-group-item-action align-items-start"  style="border-radius:0px">
        <div class="row">
          <div class="col-md-3">
          <div style="height:140;border:0px solid #000">
          <img src="/assets/ishares_logo.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:30px;margin-bottom:10px">
          </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Oil and Gas companies</h3><small class="text-muted">Underlying Asset: U.S. Oil & Gas Exploration & Production ETF</small>
          </div>
          </div><!----><div class="col-md-2" style="margin-top:20px;text-align:right"><h2 style="color:red">-1.39%</h2><br><button type="button" class="btn btn-success btn-lg">Invest</button></div>
        </div>
         <div id="etf_detail" class="row" style="display:none;">
          <div class="col-md-3">
          </div><!----><div class="col-md-7 vcenter"><div style="height:80;border:0px solid #F00"><h4 style="color:green">Details:</h4><br>Imagine all the tech companies in the United States. This portfolio represents little portion of each of them. Apple, Amazon and Google and all of them.
          <br><br><span style="color:grey">
          ----> Here --- how many friends have invested or smth</span></div>
          </div><!----><div class="col-md-2" style="margin-top:20px;text-align:right"></div>
        </div>
      </a>
    </div>
    
  <!------------ End Portfolio Listings------------->  
    
	</div>
	<div class="clearfix"></div>
	</div>

<!---->

</body>
</html>