<!DOCTYPE HTML>
<html>

 <!----------------Content Mid
					---------------------->	

<div class="content-mid">
	<div class="middle-content" style="margin-top:0px; margin-bottom:10px; margin-left:10px; margin-right:10px;border-style:none; box-shadow:none " >
		
	<!------------Content title------------->	
	
		<div class="row-fluid" style="height:100px">
		<div class="col-sm-12" style="text-align:center"><p><h1>Here you get knowledge to understand finance</h1></p>
    </div>
    </div>
    
  <!------------------------->

    <div class="row-fluid">
    <div class="btn-group btn-group-justified" style="height:400px;">
      <a href="#" class="btn btn-warning btn-lg" style="white-space: normal">Learn basic finance concepts and understand them</a>
      <a href="#" class="btn btn-success btn-lg" style="white-space: normal;">Take a quiz, check that you got the topic and earn 10 virtual $ to invest</a>
      <a href="#" class="btn btn-primary btn-lg" style="white-space: normal;">Get some tips as you go to improve your investments</a>
    </div>
    </div>
    <br>
        
 <!----------------Cards---------------------->
        
    <div class="list-group" style="font-family:'Roboto'; font-size:14px; color:#666666;">
    
    
      <a href="#" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-sm-3">
          <div style="height:140;border:0px solid #000">
          <img src="/assets/Isuruprofile.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:20px">
          </div></div><!----><div class="col-sm-7 vcenter" style="margin-top:30px">
          <div style="height:80;border:0px solid #F00"><h2>What is investment?</h2><small class="text-muted">3 days ago</small>
          </div>
          </div>
        </div>
    
    <div class="row my-slider" style="height:200px;text-align:center; padding-top:50px">
        <ul>
		<li>

	 <div class="row">
	   Text 1
    </div>	

		</li>
		<li>
		 	<div class="row">
		 	  Test 2
    </div>
		</li>
		<li>
		 	<div class="row">
    Test 3
    </div>
		</li>
		<li>
			<div class="row">
    Test 4
    </DIV>
		</li>
		<li>
		<div class="row">
    Test 5
    </div>
		</li>
		<li>
			<div class="row">
    Test 6
    </div>	
		</li>
	</ul>
	</div>
        
      </a>
      
      <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-sm-3">
          <div style="height:140;border:0px solid #000"><img src="/assets/Rashidprofile.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:20px">
          </div></div><!----><div class="col-sm-7 vcenter" style="margin-top:30px">
          <div style="height:80;border:0px solid #F00"><h2>Stocks explained</h2><small class="text-muted">3 days ago</small>
          </div>
          </div>
        </div>
      </a>
      
      <a href="#" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-sm-3">
          <div style="height:140;border:0px solid #000">
          <img src="/assets/Isuruprofile.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:20px">
          </div></div><!----><div class="col-sm-7 vcenter" style="margin-top:30px">
          <div style="height:80;border:0px solid #F00"><h2>What is investment?</h2><small class="text-muted">3 days ago</small>
          </div>
          </div>
        </div>
      </a>

      <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-sm-3">
          <div style="height:140;border:0px solid #000"><img src="/assets/Rashidprofile.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:20px">
          </div></div><!----><div class="col-sm-7 vcenter" style="margin-top:30px">
          <div style="height:80;border:0px solid #F00"><h2>Stocks explained</h2><small class="text-muted">3 days ago</small>
          </div>
          </div>
        </div>
      </a>
  
  </div>
  
  <!----------------Cards---------------------->
  
	<div class="clearfix"></div>
	</div>
	</div>
		
</html>