<html>
<body>
	
 	 <div class=" profile">
		<div class="profile-bottom" style="width:96%; border-style:none;font-family:'Roboto'">
			<h3><i class="fa fa-user" aria-hidden="true"></i>Profile</h3>
			<div class="profile-bottom-top">
			<div class="col-md-4 profile-bottom-img" style="padding-left:70px;padding-top:45px">
				<img src="/assets/ErmekProfile.jpg" style="height:200px">
			</div>
			<div class="col-md-8 profile-text" style="font-family:'Roboto'">
				<h6 style="padding-left:15px">Name: <%=@user.name if @user%></h6>
				<table style="font-family:'Roboto'; text-align:left">
				<tr><td>Phone number</td>  
				<td>:</td>  
				<td>+1(917)650-5607</td></tr>
				
				<tr>
				<td>Email</td>
				<td> :</td>
				<td>ermekrysbekuulu@gmail.com</a></td>
				</tr>
				<tr>
				<td>Password</td>
				<td> :</td>
				<td>*********</td>
				</tr>
				<tr><td>SSN</td>  
				<td>:</td>  
				<td>***-**-4633</td></tr>
				
				<tr>
				<td>Address</td>
				<td> :</td>
				<td>1589 Ocean avenue, apt 1G, Brooklyn, NY 11230</a></td>
				</tr>
				<tr>
				<td>Occupation</td>
				<td> :</td>
				<td>Student</td>
				</tr>
				</table>
			</div>
			<div class="clearfix"></div>
			</div>
			<br>
			<div class="profile-btn" >

                <button type="button" href="#" class="btn bg-red" style="border-radius:0px">Edit</button>
           <div class="clearfix"></div>
			</div>
		</div>
	</div>
<div class="clearfix"></div>
</body>
</html>