<!DOCTYPE HTML>
<html>

 <!----------------Content Mid
					---------------------->	

  <!--"middle-content" style:"margin-top:15px; margin-bottom:15px; margin-left:15px; margin-right:25px"-->
  <div class="social-content">
		<div class="content-mid">
				<div class="middle-content" style="margin-top:5px; margin-bottom:15px; margin-left:20px; margin-right:20px;border-style:none; box-shadow:none " >
  
  
  <!------------Content title------------->
    
    <div class="row-fluid" style="height:80px">
		<div class="col-sm-12" style="text-align:center;"><p><h1>Here you follow your friends and compete with them</h1></p>
    </div>
    </div>
    
  
  <!----------------Social Feed---------------------->
  
      <div class="col-md-12">
        <div class="row-fluid">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-primary btn-lg">Everyone</a>
            <a href="#" class="btn btn-primary btn-lg">Friends</a>
            <a href="#" class="btn btn-primary btn-lg">Scoreboard</a>
          </div>
        </div>
        <br>
        
        
  <!-------Scoreboard----->
        
        
        <div class="row">
        <div class="col-sm-6">
        <h1 style="text-align:center">Top 3 World<br>
        My place:<span style="color:green">134</span>
        </h1><br>
        <div class="list-group" style="font-family:'Roboto'; font-size:14px; color:#666666;" >
          
      <a href="#" id="etf" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-md-3">
          <div style="height:140;border:0px solid #000">
          <img src="/assets/Rashidprofile.jpg" class="img img-fluid img-circle" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
          </div></div><!----><div class="col-md-6 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Rashid Khasanov</h3><small class="text-muted">Current Level: 7</small>
          </div>
          </div><!----><div class="col-md-3" style="margin-top:20px;text-align:right"><h2 style="color:green">0.27%</h2><br><button type="button" class="btn btn-success btn-lg">More</button></div>
        </div>
      </a>
        </div>
        </div>
        
        
        <div class="col-sm-6">
        <h1 style="text-align:center">Top 3 Friends<br>
        My place:<span style="color:green">14</span></h1><br>
        <div class="list-group" style="font-family:'Roboto'; font-size:14px; color:#666666;" >
          
      <a href="#" id="etf" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-md-3">
          <div style="height:140;border:0px solid #000">
          <img src="/assets/Rashidprofile.jpg" class="img img-fluid img-circle" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
          </div></div><!----><div class="col-md-6 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Rashid Khasanov</h3><small class="text-muted">Current Level: 7</small>
          </div>
          </div><!----><div class="col-md-3" style="margin-top:20px;text-align:right"><h2 style="color:green">0.27%</h2><br><button type="button" class="btn btn-success btn-lg">More</button></div>
        </div>
      </a>
        
        </div>
        </div>
        </div>
        
<!------Scoreboard End------->
        
        
        
	  </div>
		
		<div class="clearfix"> </div>
		
<!----------------Social Feed
					---------------------->		
		
		  </div>
 </div>
 </div>
 
 <!----------------End Content Mid
					---------------------->	
</html>