<!DOCTYPE HTML>
<html>

 <!----------------Content Mid
					---------------------->	

  <!--"middle-content" style:"margin-top:15px; margin-bottom:15px; margin-left:15px; margin-right:25px"-->
  <div class="social-content">
		<div class="content-mid">
				<div class="middle-content" style="margin-top:5px; margin-bottom:15px; margin-left:20px; margin-right:20px;border-style:none; box-shadow:none " >
  
  
  <!------------Content title------------->
    
    <div class="row-fluid" style="height:80px">
		<div class="col-sm-12" style="text-align:center;"><p><h1>Here you follow your friends and compete with them</h1></p>
    </div>
    </div>
    
  
  <!----------------Social Feed---------------------->
  
      <div class="col-md-12">
        <div class="row-fluid">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-primary btn-lg">Everyone</a>
            <a href="#" class="btn btn-primary btn-lg">Friends</a>
            <a href="#" class="btn btn-primary btn-lg">Scoreboard</a>
          </div>
        </div>
        <br>
        
        <div class="list-group" style="font-family:'Roboto'; font-size:14px; color:#666666;" >
          
          <a href="#" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
            <div class="row">
              <div class="col-md-3">
              <div style="height:140;border:0px solid #000">
              <img src="/assets/Isuruprofile.jpg" class="img-circle img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
              </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Bob chipped in SPYDR POOP index</h3><small class="text-muted">3 days ago</small>
              </div>
              </div><!----><div class="col-md-2" style="margin-top:70px;text-align:right"><button type="button" class="btn btn-success btn-lg">Invest</button></div>
            </div>
          </a>
          
          <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">
            <div class="row">
              <div class="col-md-3">
              <div style="height:140;border:0px solid #000"><img src="/assets/Rashidprofile.jpg" class="img-circle img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
              </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Trump chipped in The Wall Fund</h3><small class="text-muted">3 days ago</small> </div>
              </div><!----><div class="col-md-2" style="margin-top:70px;text-align:right"><button type="button" class="btn btn-success btn-lg">Invest</button></div>
            </div>
          </a>
          
          <a href="#" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
            <div class="row">
              <div class="col-md-3"><div style="height:140;border:0px solid #000">
              <img src="/assets/Isuruprofile.jpg" class="img-circle img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
              </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Bob chipped in SPYDR POOP index</h3><small class="text-muted">3 days ago</small> </div>
              </div><!----><div class="col-md-2" style="margin-top:70px;text-align:right"><button type="button" class="btn btn-success btn-lg">Invest</button></div>
            </div>
          </a>
  
          <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">
            <div class="row">
              <div class="col-md-3"><div style="height:140;border:0px solid #000"><img src="/assets/Rashidprofile.jpg" class="img-circle img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
              </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Trump chipped in The Wall Fund</h3><small class="text-muted">3 days ago</small> </div>
              </div><!----><div class="col-md-2" style="margin-top:70px;text-align:right"><button type="button" class="btn btn-success btn-lg">Invest</button></div>
            </div>
          </a>
        
        </div>
	  </div>
		
		<div class="clearfix"> </div>
		
<!----------------Social Feed
					---------------------->		
		
		  </div>
		</div>
	</div>
 
 
 <!----------------End Content Mid
					---------------------->	
</html>




<!--<div class="col-md-6 col-md-offset-3" style="width:500px;height:650px;border-style:solid;border-color:#dcdcdc; border-width:thin; margin-left:100px">-->
<!--        <ul class="nav nav-tabs nav-justified" style="font-size:2em">-->
<!--  		<li class="active" style="color:green"><a data-toggle="tab" href="#Cash" >Cash</a></li>-->
<!--  		<li ><a data-toggle="tab" href="#Invest" >Invest</a></li>-->
<!--		</ul>-->
        		
<!--        <div class="tab-content" >-->
<!--        	<div id="Cash" class="tab-pane fade in active">-->
<!--        		<div class="row">-->
<!--        		<div class="col-md-6" style="height:150px;border-right-style:solid;border-right-color:#dcdcdc; border-right-width:thin;border-bottom-style:solid;border-bottom-color:#dcdcdc; border-bottom-width:thin;text-align:center">-->
<!--        			<p style="padding-top:10px; font-size:1em">Available cash<br>-->
<!--        			<span style="color:green;font-size:4em; padding-top:25px">$<%=current_user.funds/100%></span></p>-->
<!--        		</div><!---><div class="col-md-6" style="height:150px;text-align:center;border-bottom-style:solid;border-bottom-color:#dcdcdc; border-bottom-width:thin">-->
<!--        		<p style="padding-top:10px;font-size:1em">How much do you want to invest?<br><br>-->
<!--        			<span><input class="form-control form-control-lg" type="text" placeholder="Enter here"></span></p>-->
<!--        		</div>-->
<!--        		</div>-->
<!--        		<br>-->
        		
<!--            <div class="modal-body">-->
<!--        	<h3 style="text-align:center">How can I get virtual cash to invest?</h3>-->
<!--       		<br>-->
            
<!--            <div class="list-group" style="font-family:'Roboto'; font-size:16px; color:#666666; padding-top:0px">-->
                
<!--                <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-1"><h4 style="color:green"><i class="fa fa-check" aria-hidden="true"></i></h4>-->
<!--                    </div><!----><div class="col-md-9 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;"><h4>Take a quiz</h4>-->
<!--                	</div><!----><div class="col-md-2 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;color:green"><h4><button type="button" class="btn btn-default" data-dismiss="modal">Go</button></h4>-->
<!--                	</div>-->
<!--                </div>-->
<!--                </a>-->
            
<!--                <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-1"><h4 style="color:green"><i class="fa fa-check" aria-hidden="true"></i></h4>-->
<!--                    </div><!----><div class="col-md-9 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;"><h4>Share on facebook</h4>-->
<!--                	</div><!----><div class="col-md-2 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;color:green"><h4><button type="button" class="btn btn-default" data-dismiss="modal">Go</button></h4>-->
<!--                	</div>-->
<!--                </div>-->
<!--                </a>-->
                
<!--                <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-1"><h4 style="color:green"><i class="fa fa-check" aria-hidden="true"></i></h4>-->
<!--                    </div><!----><div class="col-md-9 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;"><h4>Invite a friend</h4>-->
<!--                	</div><!----><div class="col-md-2 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;color:green"><h4><button type="button" class="btn btn-default" data-dismiss="modal">Go</button></h4>-->
<!--                	</div>-->
<!--                </div>-->
<!--                </a>-->
                
<!--                <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-1"><h4 style="color:green"><i class="fa fa-check" aria-hidden="true"></i></h4>-->
<!--                    </div><!----><div class="col-md-9 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;"><h4>Come back here every 6 hours and click</h4>-->
<!--                	</div><!----><div class="col-md-2 vcenter" style="height:80;border:0px solid #F00; padding-left:10px;color:green"><h4><button type="button" class="btn btn-default" data-dismiss="modal">Go</button></h4>-->
<!--                	</div>-->
<!--                </div>-->
<!--                </a>-->
                
<!--           	</div>-->
<!--      		</div>-->
<!--      			<div class="modal-footer">-->
<!--        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--      			</div>-->
<!--      	</div>-->