<!DOCTYPE html>
<html lang="en">
  
  <!-- Head
      ================================================== -->
  
<head>
    <meta charset="utf-8">
    <title>Fiduty - Investment for Millennials Made Cool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/custom.min.css">
    <link rel="stylesheet" href="/custom.css">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/font-awesome.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></link>
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://bootswatch.com/paper/bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="https://bootswatch.com/paper/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    
    <script src="particles.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/node_modules/src/jquery.js"></script>
    <script>
     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>

  </head>
  
  <!-- Body
================================================ -->

  <body>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js"></script>


<!-----HEADER---->

    <div class="navbar navbar-default navbar-fixed-top">
     
      <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="https://fiduty-api-isuruv.c9users.io"><img src="/assets/Logo4.svg" height="50"></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right" style="color:rgba(51, 153, 204, 1)">
            <li>
              <a href="https://fiduty-api-isuruv.c9users.io/help/" style="color:rgba(51, 153, 204, 1)">HELP</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
             <li><a href="/users/dashboard" style="color:rgba(51, 153, 204, 1)"><%= current_user.name%></a></li>
             <% else %>
             <li><a href="/omniauth/facebook" style="color:rgba(51, 153, 204, 1)">LOGIN WITH <i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
             <% end %>
          </ul>
          
          
        </div>
      </div>

<!-----HEADER---->

<!-- Main background
================================================== -->

<div class="site-wrapper">
  <div class="site-wrapper-inner">
       <div id="particles-js">
         <div class="container">
        
          <div class="inner cover" style="text-align:center">
            <p></p><p></p>
            <span class="type-it"><h1 class="cover-heading" id="typeIt()" style="padding-top:270px;"> 

  <p id="example2"></p> 

  <script type="text/javascript">
        $('#example2').typeIt({
           strings: ['From zero to invest', 'AI Powered Guide to Start', 'Learn, Cooperate, Try'],
           speed: 200,
           breakLines: false,
           autoStart: false
        });
</script>

  
  </h1></span>
            <p class="lead">Investing for Millennials Made Cool</p>
            <p class="lead">
              <a href="/omniauth/facebook" class="btn btn-lg btn-secondary">Join Today</a>
            </p>
          </div>

          <div class="mastfoot" style="text-align:center">
            <div class="inner">
              <p>Powered by IBM Watson</a>.</p>
            </div>
          </div>
          
        </div>
        </div>
      </div>
    </div>

<!-- Jumbotron
================================================== -->


        <div class="bs-component">
          <div class="jumbotron vertical-center">
            <div class="container">
          <div class="row" style="padding-top: 120px; text-align:center;"><h1>Be Tuned 24/7</h1>
          </div>
          <div class="row lead" style="color:white ;padding-top: 80px; text-align:center;">Build your future right from your pocket.</p>
          </div>
          <div class="row item vcenter" style="padding-top:20px; text-align:center;">
          <a href="https://fiduty-api-isuruv.c9users.io"><br><img src="/assets/App_Store_Badge_US-UK_135x40.svg" height="40"></a>
          </div>
          </div>
          </div>
          </div>
          </div>
        </div>
        

<!-- Carousel
================================================== -->
  
    <div class="row">
          <div class="col-md-8 vcenter">
             <div style="height:95%;border:0px solid #000">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <script type="text/javascript">
      var $ = jQuery.noConflict();
        $(document).ready(function() { 
          $('#myCarousel').carousel({ interval: 4000, cycle: true });
          });
  </script>
<!-- Indicators -->
  <ol class="carousel-indicators" style="position:absolute; bottom:-50px;">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="item" src="/assets/WebsiteInvestV4.png" style="max-height:600px; margin-left:auto; margin-right:auto;">
  <!-- Wrapper for slides -->
  </div>
        <div class="item">
          <img class="second-slide" src="/assets/WebsitePickaThemeV4.png" style="max-height:600px; margin-left:auto; margin-right:auto;">
    </div>
        <div class="item">
          <img class="third-slide" src="/assets/WebsiteSocialFeedV4.png" style="max-height:600px; margin-left:auto; margin-right:auto;">
    </div>
    </div>
    </div>
    </div>

</div><!----><div class="col-md-4 vcenter">
      <div style="height:50%;border:0px solid #F00">
              <h2 class="featurette-heading">Your future is in control.<span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Everything millennials need is to understand investment, try to actually invest and be surrounded with friends.</p>
  </div>
  </div>
  </div>
  
      <!-- Containers
================================================== -->
     
  <div class="bs-docs-section">
        <div class="page-header" style="text-align:center"><h1>As seen on</h1></div>
        <div class="row" style="text-align:center"><div class="col-lg-4">
        <div style="height:40%;border:0px solid #F00">
          <div class="item">
          <a href="http://www.circlefund.co/" target="_blank"><img src="/assets/CircleFund-1.gif" height="150px"></div></a>
        </div>
        </div><!----><div class="col-lg-4">
        <div style="height:40%;border:0px solid #F00">
          <div class="item">
          <a href="http://www.cunystartups.com/accelerator" target="_blank"><img src="/assets/StartupAccelerator.png" height="150px"></div></a>
        </div>
        </div><!----><div class="col-lg-4">
        <div style="height:40%;border:0px solid #F00">
          <div class="item">
          <a href="https://www.ibm.com/watson" target="_blank"><img src="/assets/IBM-Watson-image.png" height="150px"></div></a>
        </div>
        </div>
      </div>
    <div class="row">
          <div class="sub-section col-lg-12" style="text-align:center">
            <div style="height:20%;border:0px solid #F00">
          <p class="lead">Investing for Millennials Made Cool</p>
            <p class="lead">
              <a href="/omniauth/facebook" class="btn btn-lg btn-secondary">Join Today</a>
            </p>
            </div>
          </div></div>
  </div>
        
<!-- Footers
================================================== -->

<footer style="border-top:1px solid #ededed; padding-top:35px; height:150px;">
  <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="https://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Login</a></li>
              <li><a href="https://twitter.com/bootswatch">For Advisors</a></li>
              <li><a href="https://feeds.feedburner.com/bootswatch">Help</a></li>
            </ul>
            <p>Copyright: 2017 General Robotics Inc</p>
                     </div></div>
          </div>
        <div class="clearfix"> </div>

</div>
</footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <strong><a href="https://www.jsdelivr.com/projects/jquery.typeit"></a></strong>
    <strong><a href="https://www.npmjs.com/package/typeit"></a></strong>
    <script src="/node_modules/typeit/dev/typeit.js"></script>
    <script src="/js/custom.js"></script>

    
  </body>
</html>