<head>
     <link rel="stylesheet" href="/bootstrap.css" media="screen">
</head>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-4'>stuf</div>
        <div class='col-xs-4'>
            <p>Whom would you invest with?</p>
            <label>Friend's E-mail Address</label>
            <input />
        </div>
    </div>
</div>