<nav  class="navbar-default sidebar" role="navigation">
    <ul class="nav" id="side-menu">
		<li>
            <a id="dashboard-tab" href="/users/dashboard" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
        </li>
        <li>
            <a id="knowledge-tab" href="#" class=" hvr-bounce-to-right"><i class="fa fa-picture-o nav_icon"></i><span class="nav-label">Understand</span> </a>
        </li>
		<li>
            <a id="experience-tab" href="/users/experience" class=" hvr-bounce-to-right"><i class="fa fa-inbox nav_icon"></i><span class="nav-label">Invest</span> </a>
        </li>
        <li>
            <a id="social-tab" href="/users/social" class=" hvr-bounce-to-right"><i class="fa fa-indent nav_icon"></i><span class="nav-label">Socialize</span></a>
        </li>
    </ul>
</nav>