
<nav>
		    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse" style="background:white">
                <ul class="nav" id="side-menu" style="color:black; font-size:1em">
				
                    <li>
                        <a id="dashboard-tab" href="/users/dashboard" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label" style="color:black; font-size:1em">Dashboards</span> </a>
                    </li>
                   
<li>
                        <a id="knowledge-tab" href="#" class=" hvr-bounce-to-right"><i class="fa fa-picture-o nav_icon"></i> <span class="nav-label" style="color:black; font-size:1em">Understand</span> </a>
                    </li>
					 <li>
                        <a id="experience-tab" href="/users/experience" class=" hvr-bounce-to-right"><i class="fa fa-inbox nav_icon"></i> <span class="nav-label" style="color:black; font-size:1em">Try</span> </a>
                    </li>
                    
                    
                                        <li>
                        <a id="social-tab" href="/users/social" class=" hvr-bounce-to-right"><i class="fa fa-indent nav_icon"></i> <span class="nav-label" style="color:black; font-size:1em">Socialize</span></a>
                    
                    </li>
                </ul>
            </div>


			</div>
			</nav>