<!-- id requires slick.css and slick.js -->
<div id="onboarding-slider" class="container-fluid slider-container">
    <div>
        <img src="/assets/Onboarding/Onboarding1-1.svg" >
    </div>	
    <div>
        <img src="/assets/Onboarding/Onboarding1-2.svg">
    </div>
    <div>
        <img src="/assets/Onboarding/Onboarding1-3.svg">
    </div>
    <div>
        <img src="/assets/Onboarding/Onboarding1-4.svg">
    </div>
    <div>
        <img src="/assets/Onboarding/Onboarding1-5.svg">
    </div>
    <div>
        <img src="/assets/Onboarding/Onboarding1-6.svg">
    </div>
</div>