<!-- id requires slick.css and slick.js -->
<div id="onboarding-slider" class="container-fluid slider-container">
    <div>
        <img src="/assets/Screen1Example.svg" >
    </div>	
    <div>
        <img src="/assets/Screen2-1trial.png">
    </div>
    <div>
        <img src="/assets/Screen2trial.svg">
    </div>
    <div>
        <img src="/assets/Screen4trial.png">
    </div>
    <div>
        <img src="/assets/Screen5trial.png">
    </div>
    <div>
        <img src="/assets/Screen6trial.svg">
    </div>
</div>
