
<div class="progress-box"> 
	    <!-- Main landscape -->
	    <div class="progress-landscape">
	        <div class="progress-path clearfix">
	            <div class="progress-statistics pull-right">
	                <div>
	                    Goal: <span style="color:green">Level 100</span>
	                </div>
	                <div>
	                    Current: <span style="color:green">Level <%=@user.level.level if @user%></span>
                    </div>
	            </div>
    	        
    	        <div class="progress-user girl friend" style="left: 10%">
    	            <div class="avatar">
    	                <img src="/assets/Aidaiprofile.jpg" alt="User avatar">
    	            </div>
    	            <div class="char">
    	                <img src="/assets/Characters/Character1girl.svg" alt="User">
    	            </div>
    	        </div>
    	        <div class="progress-user boy friend" style="left: 25%">
    	            <div class="avatar">
    	                <img src="/assets/Rashidprofile.jpg" alt="User avatar">
    	            </div>
    	            <div class="char">
    	                <img src="/assets/Characters/Character2man.svg" alt="User">
    	            </div>
    	        </div>
    	        <div id="progressUserChar" class="progress-user main-user boy">
    	            <div class="avatar ">
    	                <img src=<%=@user.image+"?type=large" if @user%> alt="User avatar">
    	            </div>
    	            <div class="char">
    	                <img src="/assets/Characters/Character1.svg" alt="User">
    	            </div>
    	        </div>
	        </div>
	    </div>
	    <div class="progress-bar">
	        <div id="progressUserBar" class="progress-status" data-step="2" data-intro="We think starting is already a big step forward, each completed task moves you 1 step closer to financial freedom. Hooray!"></div>
	    </div>
	    <div class="progress-landmarks clearfix">
	        <small>Learn</small>
	        <small>Invest real</small>
	        <small>Co-invest</small>
	        <small>Finish line</small>
	    </div>
    <br>
</div>

