<html>
<head>
  <title>Fiduty - Investment for Millennials Made Cool</title>
  <%= csrf_meta_tags %>

</head>

<body>
  <script type="text/javascript">
      if (location.protocol != 'https:')
        {
            location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
          }
  </script>
  
  <%= javascript_include_tag :defaults %>
  <%= yield %>
</body>
</html>
